@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background: #333;
     color: #fff;
     font-family: 'Poppins', sans-serif;
}
img {
     width: 100%;
}
h2 {
     font-size: 25px;
}
h5 {
     font-size: 15px;
}
.country-wrapper {
     padding: 20px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
}
.country-card {
     border: 2px solid #bdb8b867;
     border-radius: 10px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
     padding: 20px;
     background: #222222;
     color: #fff;
}
.country-flag {
     margin: auto;
}
.country-flag img {
     max-width: 150px;
     margin: auto;
     border-radius: 10px;
}
.country-info {
     text-align: center;
}
footer {
     margin-top: 30px;
     background: #000;
}
footer p {
     font-size: 15px;
     text-align: center;
     padding: 5px 0px;
     margin-bottom: 0;
}


@media (max-width: 768px) {
     .country-wrapper {
          grid-template-columns: 1fr;
     }
}